<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h1 class="mb-sm-0 font-size-18">Liste des membres de l'équipe</h1>

            <div class="page-title-right">
                <button class="btn btn-primary" routerLink="/dashboard/employers/addemp">Création</button>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
@for (user of users; track user._id) {
    <div class="col-xl-3 col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <div class="avatar-sm mx-auto mb-4">
                    <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-16">
                        <img [src]="'http://127.0.0.1:3000/files/' + user.image" class="w-100 rounded-circle" alt="">
                    </span>
                </div>
                <h5 class="font-size-15 mb-1"><a class="text-dark"> {{user.fullname}} </a></h5>
                <p class="text-muted"> {{user.email}} </p>

                <div>

                    <a href="javascript: void(0);" class="badge bg-primary font-size-11 m-1"> {{user.tags}}</a>

                </div>
            </div>
            <div class="card-footer bg-transparent border-top">
                <div class="contact-links d-flex font-size-20">
                    <div class="flex-fill w-50">
                        <a href="javascript: void(0);"> {{user.tel}} </a>
                    </div>
                    <div class="flex-fill">
                        <a><i class="bx bx-pencil"  [routerLink] ="['/dashboard/employers/updateemp/',user._id]"></i></a>
                    </div>
                    <div class="flex-fill">
                        <a><i class="bx bx-trash" (click)="delete(user._id)"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
   

</div>

